<a href="https://colab.research.google.com/github/ESGFLORES/ControlesBasicosAndroidStudio/blob/master/Ejercicios1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ejercicio 1

In [ ]:
# Calcular sueldo neto

In [ ]:
def DesImpuesto(sueldo):
  return (sueldo)*0.03 + (sueldo)*0.0625

In [ ]:
def calcularSueldo(sueldo):
  return(sueldo) - (DesImpuesto(sueldo))

In [ ]:
def Impuesto1 (sueldo):
  return (calcularSueldo(sueldo) - 472.00)*0.10 + 17.67

In [ ]:
def Impuesto2 (sueldo):
  return (calcularSueldo(sueldo) - 895.24)*0.20 + 60

In [ ]:
def Impuesto3 (sueldo):
  return (calcularSueldo(sueldo) - 2032.10)*0.30 + 288.57

INGRESE SU SUELDO

In [ ]:
sueldo= float (input("Ingrese su sueldo:"))

COMPRUEBE RETENCION ISR

In [ ]:
print("Su sueldo es:",calcularSueldo(sueldo))

In [ ]:
if sueldo <=472 :
  print("ud no aplica a ISR")

In [ ]:
if sueldo >= 472.01 and sueldo <=895.24:
  print("Su retencion de impuesto sobre la renta en su sueldo de:",calcularSueldo(sueldo),"es de :",Impuesto1(sueldo))

Su retencion de impuesto sobre la renta en su sueldo de: 544.5 es de : 24.92

In [ ]:
if sueldo >= 895.25 and sueldo <=2038.10:
  print("Su retencion de impuesto sobre la renta en su sueldo de:",calcularSueldo(sueldo),"es de :",Impuesto2(sueldo))

In [ ]:
if sueldo >= 2038.11:
  print("Su retencion de impuesto sobre la renta en su sueldo de:",calcularSueldo(sueldo),"es de :",Impuesto3(sueldo))

# Ejercicio 2

In [ ]:
# MONTO A PAGAR POR METROS CONSUMIDOS POR AGUA POTABLE

In [ ]:
def consu1 (consumo):
  return ((consumo -18)*0.45)+ 6

In [ ]:
complemento = ((28 -18)*0.45) + 6

In [ ]:
def consu2 (consumo):
  return ((consumo -28)*0.65 )+ complemento

In [ ]:
consumo = int (input("Ingrese el consumo de metros consumidos:"))

Ingrese el consumo de metros consumidos:25

In [ ]:
if consumo >=1 and consumo <=18:
  print("su Monto a pagar es de $",6.00)

In [ ]:
if consumo >19 and consumo<=28:
  print("su monto a pagar es de $",consu1(consumo))

su monto a pagar es de $ 9.15

In [ ]:
if consumo >=29:
  print("su monto a pagar es de $",consu2(consumo))

su monto a pagar es de $ 17.0

# ejercicio 3

In [ ]:
#Valores acumulados

In [ ]:

print("Ingrese cantidad que desea imprimir y obtener acumulado")
a = int(input())
b = 0

for i in range (1, a + 1):
  
  print(i)
  b = b + i


  print (" El valor acumulado es ",b)

# ejercicio 4

In [ ]:
#conversores
etiquetas = [
    0,
    ["Seleccione un moneda", "1. Dolar", "2. Colon SV", "3. Quetzal", "4. Lempira", "5. Cordoba"],
    ["Selecione un almacenamiento", "1. MegaByte", "2. Bit", "3. Byte", "4. KiloByte", "5. GigaByte"]
    ,["Seleccione una longitud", "1. Pie","2. kilometro","3. Metro","4. centimetro", "5. Milimetro","6. milla","7. yarda","8. Pulgada", "9. Milla nautica", "10. Nanometro"]
    ,["seleccione una unidad de masa","1. kilogramo","2. gramo", "3. miligramo","4. libra","5. onza","6. tonelada","7. microgramo","8. tonelada larga","9. tonelada corta"]
    ,["seleccione una unidad de tiempo","1. nanosegundo", "2. microsegundo","3. milisegundo", "4. segundo", "5. minuto","6. hora", "7. dia", "8. semana", "9. mes", "10. año natural"]
    ,["Seleccione una unidad de Volumen","1. litro","2. mililitro", "3. metro cubico", "4. galon imperial", "5. cuarto imperial", "6. pinta imperial", "7. taza imperial","8. onza liquida imperial", "9. cucharada imperial"]
    ,["seleccione una unidad de area", "1. kilometro2", "2. Metro2", "3. Milla2","4. yarda2", "5. Pie2", "6. Pulgada2", "7. hectarea", "8. Acre"]]

valores = [0,
  [0,1, 8.75, 7.73, 24.49, 35.96],
  [0,1, 8388608, 1048576, 1024, 0.0009765625]
  ,[0,1,0.0003048,0.3048,30.48,304.8,0.000189394,0.333333,12,0.000164579,3.048e+8 ],
    [0,1,1000,1e+6,2.20462,35.274,0.001,1e+9,0.000984207,0.00110231],
    [0,1,0.001,1e-6,1e-9,1.6667e-11,2.7778e-13,1.1574e-14,1.6534e-15,3.8052e-16,3.171e-17],
    [0,1,1000,0.001,0.219969,0.879877,1.75975,3.51951,0.1,1.6],
    [0,1,1e+6,0.386102,1.196e+6,1.076e+7,1.55e+9,100,247.105]
]

In [ ]:
def convertir(opcion, de, a, cantidad):
  return valores[opcion][a] / valores[opcion][de] * cantidad

In [ ]:
print("** MENU **")
print("1. Monedas")
print("2. Almacenamiento")
print("3. Longitud")
print("4. Masa")
print("5. Tiempo")
print("6. Volumen")
print("7. Area")

opcion = int(input("Opcion: "))

print( etiquetas[opcion] )
de = int(input("DE: "))
a = int(input("A: "))
cantidad = float(input("Cantidad: "))

print( etiquetas[opcion][de], " en ", etiquetas[opcion][a], " equivale a: ", convertir(opcion, de, a, cantidad) )

# Ejercicio 5